<header>
    <div class="container-navimg">
        <div class="left-nav">
            <div class="container-imgbackgroud"><a href="#"><img
                        src="https://i.pinimg.com/550x/b5/c6/39/b5c6399f6ebc60ca27a538a3cd2ed099.jpg" alt=""></a></div>
        </div>
        <div class="right-nav">
            <div class="nav"><a href="#">Docs</a></div>
            <div class="nav"><a href="#">About</a></div>
            <button>SUPPORT US</button>
        </div>
    </div>
    <div class="title">
        <h1><strong>The Rick and Morty API</strong></h1>
    </div>
</header>