/*etiqueta principal*/
body {
  padding: 0%;
  margin: 0%;
}

/*etiqueta principal*/
div {
  display: flex;
}

.div-tittle {
  width: 100%;
  height: 200px;
  background-image: url(rickandmorty.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  justify-content: center;
}

.div-main {
  width: 100%;
  height: 600px;
  background-color: #33323b;
}

.contenido {
  margin: 0;
}

.div-footer {
  position: relative;
  width: auto;
  height: 250px;
  background-color: #1c1f21;
}

.img {
  width: 150px;
  /* Establece el ancho del botón */
  height: 40px;
  /* Establece la altura del botón */
  position: absolute;
  left: 520px;
  /* Posición desde la derecha */
  bottom: 110px;
}

.img2 {
  width: 150px;
  /* Establece el ancho del botón */
  height: 40px;
  /* Establece la altura del botón */
  position: absolute;
  left: 790px;
  /* Posición desde la derecha */
  bottom: 110px;
}

.github {
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 20px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 10px 20px;
  /* Ajusta el relleno del botón según sea necesario */
  width: 200px;
  /* Establece el ancho del botón */
  height: 50px;
  /* Establece la altura del botón */
  border: none;
  /* Sin borde */
  margin-top: 60px;
  position: absolute;
  left: 550px;
  /* Posición desde la derecha */
  bottom: 32px;
}

.github:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.twitter {
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 20px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 10px 20px;
  /* Ajusta el relleno del botón según sea necesario */
  width: 200px;
  /* Establece el ancho del botón */
  height: 50px;
  /* Establece la altura del botón */
  border: none;
  /* Sin borde */
  margin-top: 60px;
  position: absolute;
  left: 685px;
  /* Posición desde la derecha */
  bottom: 32px;
}

.twitter:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.heart {
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 20px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 10px 20px;
  /* Ajusta el relleno del botón según sea necesario */
  width: 200px;
  /* Establece el ancho del botón */
  height: 50px;
  /* Establece la altura del botón */
  border: none;
  /* Sin borde */
  margin-top: 60px;
  position: absolute;
  left: 850px;
  /* Posición desde la derecha */
  bottom: 32px;
}

.heart:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}



.status {
  display: flex;
  gap: 10px;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: chartreuse;
  border-radius: 100%;
}

.a-footer {
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 12px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 10px 20px;
  /* Ajusta el relleno del botón según sea necesario */
  width: 200px;
  /* Establece el ancho del botón */
  height: 50px;
  /* Establece la altura del botón */
  border: none;
  /* Sin borde */
  margin-top: 60px;
  position: absolute;
  left: 640px;
  /* Posición desde la derecha */
  bottom: 2px;
  text-decoration: none;
}

.a-footer:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.icon {
  font-size: 40px;
  /* Tamaño de la fuente */
}

/* Estilo para los encabezados */
h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #000000;
  /* Cambia el color a tu preferencia */
  font-size: 60px;
  /* Cambia el tamaño de la fuente según tus necesidades */
  text-align: center;
  /* Alinea el texto al centro */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-edit {
  border: none;
  /* Contorno de color naranja */
  background-color: #ffffff;
  /* Relleno de color blanco */
  color: #000000;
  /* Color del texto naranja */
  padding: 10px 20px;
  /* Espaciado interno del botón */
  font-size: 16px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
}

.a-edit:hover {
  background-color: #ffffff;
  /* Cambia el color de fondo al pasar por encima */
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.a-edit-container {
  padding: 0;
  font-size: 16px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

.a-edit-container:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.a-edit-button {
  border: 2px solid #ff6600;
  /* Contorno de color naranja */
  background-color: #ffffff;
  /* Relleno de color blanco */
  color: #ff6600;
  /* Color del texto naranja */
  padding: 10px 20px;
  /* Espaciado interno del botón */
  font-size: 16px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  margin-right: 8px;
  margin-top: 15px;
  border-radius: 12px;
  text-decoration: none;
}

.a-edit-button:hover {
  background-color: #ff6600;
  /* Cambia el color de fondo al pasar por encima */
  color: #ffffff;
  /* Cambia el color del texto al pasar por encima */
}

.carac {
  background-color: #1c1f21;
  /* Relleno de color blanco */
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 15px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  border: none;
  /* Sin borde */
  position: absolute;
  /* Establece el posicionamiento absoluto para mover el botón */
  left: 400px;
  /* Posición desde la izquierda */
  bottom: 150px;
  /* Posición desde abajo */
  text-decoration: none;
}

.carac:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.loca {
  background-color: #1c1f21;
  /* Relleno de color blanco */
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 15px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 0px;
  /* Ajusta el relleno del botón según sea necesario */
  border: none;
  /* Sin borde */
  position: absolute;
  left: 40%;
  /* Centra horizontalmente */
  transform: translateX(-50%);
  /* Ajusta la posición horizontal al centro */
  bottom: 150px;
  text-decoration: none;
}

.loca:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.caps {
  background-color: #1c1f21;
  /* Relleno de color blanco */
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 15px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 0;
  border: none;
  /* Sin borde */
  margin-top: 0px;
  position: absolute;
  left: 710px;
  /* Posición desde la derecha */
  bottom: 150px;
  text-decoration: none;
}

.caps:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.ser {
  background-color: #1c1f21;
  /* Relleno de color blanco */
  color: #ffffff;
  /* Color del texto naranja */
  font-size: 15px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  padding: 0;
  /* Ajusta el relleno del botón según sea necesario */
  border: none;
  /* Sin borde */
  margin-top: 0;
  width: 121px;
  position: relative;
  position: absolute;
  left: 900px;
  /* Posición desde la derecha */
  bottom: 150px;
  text-decoration: none;
}

.ser:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.punto {
  position: absolute;
  top: 50%;
  right: 10px;
  /* Ajusta la posición del punto según tu diseño */
  transform: translateY(-50%);
  color: chartreuse;
}



/*------------------------------------------*/
.app{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inf-card {
  background-color: #4b4a4f;
  display: flex;
  padding: 30px;
  border-radius: 10px;
  width: 405px;
  height: 115px;
}

.name {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  padding: 0;
  font-size: 16px;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  margin: 0;
  color: #ffffff;
  background-color: #4b4a4f;
  align-self: flex-start;
  
}

.name:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.a-card {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #ffffff;
  background-color: #4b4a4f;
  margin: 0;
}
.a-card:hover {
  color: #ff6600;
  /* Cambia el color del texto al pasar por encima */
}

.img-card {
  max-width: 100px;
  margin-right: 20px;
}
a {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #ffffff;
  margin: 0;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #cdc5c5;
  background-color: #4b4a4f;
  margin: 0;
}