<div class="footer">
    <div class="sub-footer"><a class="active" href="#">CHARACTERS: {{ countCharacters }} </a></div>
    <div class="sub-footer"><a class="active" href="#">LOCATIONS: {{ countLocations }}</a></div>
    <div class="sub-footer"><a class="active" href="#">EPISODES: {{ countEpisodes }}</a></div>
</div>

<div class="footer-server-madeby"><a class="active" href="#">SERVER STATUS</a>
    <div class="circle-status"></div>
</div>

<div class="footer-company"><img src="../../../../assets/netlify.png" alt=""><img
        src="https://upload.wikimedia.org/wikipedia/commons/9/97/Netlify_logo_%282%29.svg" alt=""></div>
<div class="footer-socialnetworks"><img src="../../../../assets/pngegg.png" alt=""><img
        src="https://www.pngfind.com/pngs/b/39-398575_free-png-download-black-twitter-logo-without-white.png"
        alt=""><img src="https://www.dlf.pt/png/big/17/171073_corazon-blanco-png.png" alt=""></div>
<div class="footer-server-madeby">
    <>by<a class="active" href="#">JUAN LUIS</a>2024
</div>
<script src="scripts.js"></script>